@charset "ISO-8859-1";
.click {
  margin: 5% 10%;
  width: 80%;
  height: auto;
}

.w3-container {
  width: 100%;
  margin: 0;
}

.mySlides {
  display: none;
  height: auto;
}

.imgProdotto {
  width: 100%;
  height: auto;
}

.div_esterno {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 2% 2%;
}

.prodotto {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 2% 2%;
  margin: 0 5px;
  width: 45%;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  vertical-align: top;
  color: #000000;
  autoflow: auto;
  border-bottom: 1px solid #000000;
}

.prodotto a {
  color: #2d3b55;
  text-decoration: none;
}

.prodotto:hover {
  background-color: #f6f3f3;
  transition: 0.2s;
  text-decoration: none;
  transform: scale(1.01);
  box-shadow: 3px 6px 14px -2px rgba(45, 59, 85, 0.82);
}

.prodotto a:hover {
  color: #000000;
}

.pulsante {
  text-decoration: none;
  border: 1px solid #e05d5d;
  border-radius: 2em;
  font-size: 0.7em;
  background-color: #e05d5d;
  font-weight: bold;
  text-align: center;
  color: black;
  width: 100%;
  padding: 10px;
  justify-content: space-around;
  text-transform: uppercase;
}

.pulsante:hover {
  background-color: #ff8080;
  transition: 0.3s;
  cursor: pointer;
  border: lightblue;
  color: white;
  transform: scale(1.01);
  box-shadow: 3px 6px 14px -2px rgba(45, 59, 85, 0.82);
}

@media (max-width: 1000px) {
  .prodotto {
    width: 49%;
    margin: 10px 0;
  }
}

@media (max-width: 750px) {
  .prodotto {
    width: 100%;
    margin: 10px 0;
  }
}

